<search (search)="changeSearch($event)"></search>
<div fxLayout="column">

  <div fxFlexFill class="example-container">
    <div fxLayout="column" fxLayoutGap="20px" [style.height]="'100%'">
      <div class="card" *ngFor="let car of cars">
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
            <div fxFlex="35%">
              <a [routerLink]="['car', car.id]"><img [attr.src]="car.images[0]" alt="Free image"></a>
            </div>
          <div fxFlex>
            <div fxLayout="row wrap" fxLayou.lt-md="column" >
              <div fxFlex class="description main">
                  <h3 class="title"><a [routerLink]="['car', car.id]">{{car.brand}} {{car.model}}</a></h3>
                    <p>Numer aukcji
                      <span class="right">{{car.offerId}}</span>
                    </p>
                    <p>Przebieg
                      <span class="right">{{car.mileage}}</span>
                    </p>

                    <p>VIN
                      <span class="right">{{car.vin}}</span>
                    </p>

              </div>
              <div fxFlex class="description additional" fxLayoutAlign="end">
                <div fxLayout="column">
                  <p>{{car.sale_date | date:'medium'}}</p>
                  <h4>{{car.location}}</h4>
                  <h3>{{car.current_price | currency}}</h3>
                  <button *ngIf="!car.sold" mat-raised-button color="primary" class="right" [routerLink]="['car', car.id]">Licytuj</button>
                  <button *ngIf="car.sold" mat-raised-button color="warn" disabled>Sprzedane</button>
                </div>


              </div>
            </div>
          </div>

        </div>

      </div>
      </div>
    </div>



  <mat-paginator #paginator (page)="pageChangeEvent($event)" [length]="length" [pageSize]="itemsPerPage"
    [pageSizeOptions]="[10,20,50,100]"></mat-paginator>
  <!-- let news of (news$ | async)?.articles -->
</div>
