[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
scrapy = "*"
djangorestframework = "*"
scrapy-djangoitem = "*"
scrapyd = "*"
python-scrapyd-api = "*"
scrapy-user-agents = "*"
django-filter = "*"
psycopg2-binary = "*"
gunicorn = "*"
python-dateutil = "*"
pendulum = "*"
celery = "*"
django-redis = "*"
redis = "*"
django-celery-beat = "*"
django-celery-email = "*"
coverage = "*"

[requires]
python_version = "3.8"
