@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$nga-primary: mat-palette($mat-blue, 800, 400, 900);
$nga-accent: mat-palette($mat-red, A700, A200, 800);

// The warn palette is optional (defaults to red).
$nga-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$nga-theme: mat-light-theme($nga-primary, $nga-accent, $nga-warn);
$nga-background: map-get($nga-theme, background);
$nga-foreground: map-get($nga-theme, foreground);


$custom-typography: mat-typography-config(
  $font-family: 'Kanit, sans-serif',
  $headline: mat-typography-level(28px, 36px, 500, 'Russo One'),
  $input: mat-typography-level(14px, 1.125, 300, 'Kanit')
);

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

.mat-option {
  font-size: 12px !important;
}
