<mat-sidenav-container fxLayout="row">
  <mat-sidenav [fixedInViewport]="true" fxFlex="grow" class="vehicle-filters" [opened]="sideNav.opened"
               [mode]="sideNav.mode">
    <offer-filter *ngIf="searchData" (filter)="onFilter($event)" [search]="searchData"></offer-filter>
  </mat-sidenav>

  <mat-sidenav-content [ngClass.gt-sm]="'big-sidenav'" fxFlex="grow">

    <mat-toolbar>
      <mat-toolbar-row fxLayoutGap="10px">
        <button mat-mini-fab color="accent" (click)="sideNav.opened = !sideNav.opened;">
          <mat-icon>filter_list</mat-icon>
        </button>

        <mat-form-field appearance="fill" class="sort__field">
          <mat-label>Sortuj</mat-label>
          <mat-select [(ngModel)]="orderBy" (selectionChange)="onOrderChange()">
            <mat-select-trigger>
              <mat-icon>{{orderBy.icon}}</mat-icon>&nbsp;{{orderBy.name}}
            </mat-select-trigger>
            <ng-container *ngFor="let order of orderList">
              <mat-option [value]="order">
                <mat-icon>{{order.icon}}</mat-icon>
                {{order.name}}
              </mat-option>
              <mat-divider></mat-divider>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <mat-paginator fxHide.lt-sm="true" [hidePageSize]="hidePageSize" fxFlex #paginatorTop
                       (page)="pageChangeEvent($event)"
                       [length]="length" [pageSize]="itemsPerPage" [pageSizeOptions]="[10,20,50,100]"></mat-paginator>

      </mat-toolbar-row>
    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

    <div fxLayout="column" fxLayoutAlign="center center" class="content-container" *ngIf="!loading && cars.length == 0">
      <h1>Brak wyników</h1>
      <p>Dla podanych parametrów wyszukiwania nie znaleziono żadnych wyników</p>
    </div>


    <div fxFlexFill class="content-container" *ngIf="!loading">
      <div fxLayout="column" fxLayoutGap="20px" [style.height]="'100%'">
        <div class="card" *ngFor="let car of cars">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div fxFlex="30%">
              <a [routerLink]="['/offer', car.id]"><img [attr.src]="car.thumb_image" alt="Free image"></a>
            </div>
            <div fxFlex>
              <div fxLayout="row wrap" fxLayout.lt-md="column" class="main">
                <div fxFlex="60%" fxLayout="column"  [ngClass.xs]="'description-small'"
                     [ngClass.md]="'description-small car-info'" [ngClass.gt-md]="'description car-info'"
                     [ngClass.lt-md]="'description'">

                  <h3 class="title"><a [routerLink]="['/offer', car.id]">{{car.brand}} {{car.model}}</a></h3>
                  <div  fxLayout="row" fxLayout.lt-lg="column" fxLayout.lt-md="row" fxLayout.xs="column"
                       fxLayoutGap="40px" fxLayoutGap.lt-lg="0">
                    <div fxFlex>
                      <p>
                        Numer aukcji
                        <span >{{car.offerId}}</span>
                      </p>
                      <p>
                        Przebieg
                        <span class="right">{{car.mileage}} mi</span>
                      </p>
                      <p>
                        Rok produkcji
                        <span class="right">{{car.production_year}}</span>
                      </p>
                    </div>

                    <div fxFlex>
                      <p>
                        VIN
                        <span class="right">{{car.vin}}</span>
                      </p>
                      <p>
                        Uszkodzenie
                        <span class="right">{{car.primary_damage}}</span>
                      </p>
                      <p>
                        Typ sprzedaży
                        <span class="right">{{car.sale_type}}</span>
                      </p>
                    </div>
                  </div>
                </div>

                <div fxFlex class="sale-info" [ngClass.lt-md]="'sale-info-small'">
                  <div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign="space-between start" fxLayoutAlign.gt-sm="space-between end">
                    <div fxLayout="column">
                      <p *ngIf="car.sale_date">
                        <mat-icon>insert_invitation</mat-icon>
                        {{car.sale_date | date:'medium':'pl'}}</p>
                      <p *ngIf="!car.sale_date">
                        <mat-icon>insert_invitation</mat-icon>
                        Future
                      </p>
                      <h4>
                        <mat-icon>place</mat-icon>
                        {{car.location}}</h4>
                    </div>
                    <div fxLayout="column">

                      <h3 class="price">{{car.current_price | currency : 'USD' : 'symbol-narrow' : '1.0-0'}}</h3>
                      <button *ngIf="!car.sold && !isOld(car.sale_date)" mat-raised-button color="primary"
                              [routerLink]="['/offer', car.id]">Licytuj
                      </button>
                      <button *ngIf="car.sold" mat-stroked-button color="primary">Sprzedane</button>
                      <button *ngIf="!car.sold && isOld(car.sale_date)" mat-stroked-button
                              color="warn">Niesprzedane
                      </button>
                      <a class="dialog_button" [routerLink]="" (click)="openDialog(car)">Zapytaj o ten pojazd</a>
                    </div>
                  </div>


                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>


    <mat-paginator #paginator (page)="pageChangeEvent($event)" [length]="length"
                   [pageSize]="itemsPerPage" [pageSizeOptions]="[10,20,50,100]"></mat-paginator>
  </mat-sidenav-content>

</mat-sidenav-container>
