.title {
    color: #30316e;
    margin-bottom: 20px;
    border-bottom: 1px solid #30316e;
  
    span {
      float: right;
      font-size: 14px;
      font-weight: 300;
    }
  }
  
  .bid-info {
    background-color: rgb(240, 239, 239);
    border: 1px solid rgb(216, 216, 216);
    h3 {
      color: white;
      background-color:#073a6d;;
      padding: 10px;
      margin-bottom:0px;
    }

    p {
      padding:10px;
      text-align: center;
      font-size:16px;
      margin-bottom: 0px;
      font-weight: 200;
    }

    .price {
      font-size:20px;
      font-weight: 400;
      color: rgb(27, 207, 81);
      border: 1px solid rgb(218, 217, 217);
      background-color: white;
      padding:20px;
    }
    
  }
  
  .description {
    border: 1px solid rgb(216, 216, 216);
  
    h3 {
      color: white;
      background-color:#073a6d;;
      padding: 10px;
      margin-bottom:0px;
    }

    p {
      color: #636363;
      padding: 10px;
      // padding-bottom: 10px;
      border-bottom: 1px solid #c2c2c2;
      font-weight: 300;
      margin-bottom: 0px;
    }

  
    span {
      color: #313131;
      float: right;
      font-weight: 400;
    }
  }
  
  .prices {
    text-align: center;
    margin-bottom: 40px;
  
    p {
      border-bottom: none;
      color: #d6d6d6;
    }
  
    .price {
      padding:20px;
      // background-color: #ffffff;
      background-color: #19125c;
      color: #f1f1f1;
      border-radius: 0 0 15px 15px;
      box-shadow: 3px 4px 5px 0px rgba(204, 204, 204, 0.38);
    }
  
    .current {
      background-color: #720d1b;
    }
  }
  
  