.title {
    color: #30316e;
    margin-bottom: 20px;
    border-bottom: 1px solid #30316e;
  
    span {
      float: right;
      font-size: 14px;
      font-weight: 300;
    }
  }
  
  
  
  .description {
    padding: 10px;
  
    p {
      color: #aaaaaa;
      padding-bottom: 10px;
      border-bottom: 1px solid #aaaaaa;
    }
  
    span {
      color: #313131;
      float: right;
    }
  }
  
  .prices {
    text-align: center;
    margin-bottom: 40px;
  
    p {
      border-bottom: none;
      color: #d6d6d6;
    }
  
    .price {
      padding:20px;
      // background-color: #ffffff;
      background-color: #19125c;
      color: #f1f1f1;
      border-radius: 0 0 15px 15px;
      box-shadow: 3px 4px 5px 0px rgba(204, 204, 204, 0.38);
    }
  
    .current {
      background-color: #720d1b;
    }
  }
  