@import '../../../styles/theme';


.form {
  font-size: 14px;
  font-weight: 300;
}



.form__submit {
  min-width: 400px;
  font-size: 18px;
  padding: 10px 0px;
}

.form__submit-small {
  min-width: 200px;
}

.mat-option {
  font-size: 12px;
}

.input-upper {
  text-transform: uppercase;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}

.app-nav-accordion {

    h1, h2, h3, h4, p, a {
      padding: 0px 20px;
    }


    .mat-list-item h1, h2, h3, h4, p {
      margin-bottom: 0px;
    }

    .mat-list-item p {
      font-size: 12px;
    }

    .mat-expansion-panel {
      background-color: #eee;
      border-radius: 0px !important;
      box-shadow: none !important;
      margin-bottom: 0px;
      border-bottom: 1px solid rgb(206, 204, 204);

      &.mat-expansion-panel-spacing {
        margin: 0px 0px;
      }
  
      .mat-expansion-panel-body {
        padding: 0px;
        background-color: rgb(241, 240, 240) !important;

      }
      
  
      .mat-expansion-panel-header {
        height: 40px;
        font-weight: 500;
        // padding: 0px 24px 0px 16px;
      }
  
      .mat-expansion-panel-header-title {
        color: rgba(0,0,0,0.54);
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  mat-button-toggle-group {
   flex: 0 0 100%;
   margin: 10px 16px;
   margin-bottom:20px;
  }



  .submit__button {
    margin: 0px 16px;
    padding: 10px 0px;
  }