<form fxLayout="column" fxLayoutGap="5px" class="form" [formGroup]="filterForm" (ngSubmit)="onFilter()">

  <mat-accordion class="app-nav-accordion">
    <h3 matHeader>Filtruj</h3>

    <mat-button-toggle-group fxLayoutAlign="stretch" multiple="false" formControlName="auction_site" value="">
      <mat-button-toggle (click)="onFilter()" fxFlex value="" checked>ALL</mat-button-toggle>
      <mat-button-toggle (click)="onFilter()" fxFlex value="iaai">IAAI</mat-button-toggle>
      <mat-button-toggle (click)="onFilter()" fxFlex value="copart">COPART</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Marka & Model</mat-panel-title>
      </mat-expansion-panel-header>

      

      <mat-nav-list>

        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Typ Pojazdu</mat-label>
            <mat-select formControlName="vehicle_type" (selectionChange)="typeSelected($event.value)">
              <mat-option *ngFor="let type of availableFields?.vehicle_type" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Marka</mat-label>

            <input matInput type="text" formControlName="brand" [matAutocomplete]="brandAuto">
            <mat-autocomplete autoActiveFirstOption #brandAuto="matAutocomplete" (optionSelected)="brandSelected($event)">
              <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                {{brand}}
              </mat-option>
            </mat-autocomplete>
      
            <mat-error>Musisz wybrać markę z listy!</mat-error>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Model</mat-label>

            <input matInput type="text" formControlName="model" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let model of filteredModels | async" [value]="model">
                {{model}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Rok produkcji</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Rok prod. od</mat-label>
            <mat-select formControlName="year_min">
              <mat-option *ngFor="let fromYear of availableFields?.production_year.slice().reverse()" [value]="fromYear">{{fromYear}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Rok prod. do</mat-label>
            <mat-select formControlName="year_max" [errorStateMatcher]="productionMatcher">
              <mat-option *ngFor="let toYear of availableFields?.production_year.slice().reverse()" [value]="toYear"
                value="option">{{toYear}}</mat-option>
            </mat-select>
            <mat-error *ngIf="filterForm.hasError('minLessThanMaxProduction')">Maksymalny rok produkcji musi być mniejszy niż minimalny</mat-error>

          </mat-form-field>
        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Przebieg</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Od</mat-label>
            <input matInput type="number" formControlName="mileage_min">
            <mat-error>Nie może byc mniejszy niż 0</mat-error>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Do</mat-label>
            <input matInput type="number" formControlName="mileage_max" [errorStateMatcher]="matcher">
            <mat-error *ngIf="filterForm.hasError('minLessThanMaxMileage')">Przebieg maksymalny musi być mniejszy od minimalnego</mat-error>

          </mat-form-field>
        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Paliwo & Skrzynia biegów</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Paliwo</mat-label>
            <mat-select formControlName="fuel" multiple>
              <mat-option *ngFor="let fuel of availableFields?.fuel" [value]="fuel">{{fuel}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Skrzynia biegów</mat-label>
            <mat-select formControlName="transmission">
              <mat-option *ngFor="let transmission of availableFields?.transmission" [value]="transmission">
                {{transmission}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Uszkodzenie & Nadwozie</mat-panel-title>
      </mat-expansion-panel-header>

      <mat-nav-list>
        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Rodzaj uszkodzenia</mat-label>
            <mat-select formControlName="damage" multiple>
              <mat-option *ngFor="let damage of availableFields?.primary_damage" [value]="damage">{{damage}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <mat-form-field fxFlex appearance="outline" class="form__field">
            <mat-label>Typ nadwozia</mat-label>
            <mat-select formControlName="bodyStyle" multiple>
              <mat-option *ngFor="let body of availableFields?.body_style" [value]="body">{{body}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>

      </mat-nav-list>
    </mat-expansion-panel>

    <mat-nav-list>
      <mat-list-item>
        <mat-checkbox formControlName="hide_closed" fxFlex appearance="outline" class="form__field" (change)="onFilter()">
          Ukryj zakończone licytacje
        </mat-checkbox>
      </mat-list-item>
    </mat-nav-list>




  </mat-accordion>
  <button mat-raised-button color="accent" [disabled]="!filterForm.valid">FILTRUJ</button>

</form>
